modules = ["nodejs-20"]
run = "npm run watch"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]
build = ["sh", "-c", "npm run build"]

[workflows]
runButton = "Development"

[[workflows.workflow]]
name = "Development"
author = 17680578
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run watch"

[[workflows.workflow]]
name = "Watch Mode"
author = 17680578
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run watch"
